<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%# provided by google to verify heroku site ownership %>
    <meta name="google-site-verification" content="IhOlymTAYdGXhFTuAOE0JHPdgTrfXXUoF_4gUuADNmg" />
    <title>TodoApp - Elixir</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    
    <%# materializeCSS %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%# material-icons %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
      <%= if @conn.assigns.user do %>
        window.userToken = "<%= Phoenix.Token.sign(DiscussWeb.Endpoint, "key", @conn.assigns.user.id) %>"
      <% end %>
    </script>
  </head>
  <body>
    <nav class="light-blue">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo left"><i class="material-icons">home</i></a>
        <ul class="right">
          <%# <li>
            <a href="/about" class="">About</a>
          </li> %>
          <%= if @conn.assigns.user do %>
            <li>
              <%= "Hello, " <> assigns.user.full_email %>
            </li>
            <li>
              <%= link "Sign out", to: Routes.auth_path(@conn, :signout) %>
            </li>
          <% else %>
            <li>
              <%= link "Sign in with Github", to: Routes.auth_path(@conn, :request, "github") %>
            </li>
            <li>
              <%= link "Sign in with Google", to: Routes.auth_path(@conn, :request, "google") %>
            </li>

          <% end %>
        </ul>
      </div>
    </nav>
        
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="footer-image">
    </footer>
    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
